* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;


}

/* Track */
::-webkit-scrollbar-track {
  margin-right: 5px;
  border-radius: 0px;
  background-color: rgb(26, 4, 78);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(104, 104, 104);
  border-radius: 10px;
  padding-right: 5px;
}

::-webkit-scrollbar-

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(139, 139, 139);
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.details {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.ball-text {
  position: fixed;
  z-index: 2;
  color: white;
  font-size: 5rem;
  right: 20%;
  bottom: 40%;
  transform: translate(-20%, -40%);
}

@media screen and (max-width: 1024px) {
  .ball-text {
    font-size: 2rem;
    right: 50%;
    bottom: 25%;
    transform: translate(50%, 50%);
  }
  h1 {
    font-size: 2rem;
  }
}
